@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --blue: #30A1ED;
    --red: #EA4235;
    --redHover: #d33b30;
    --black: #000000;
    --white1: #f8f8f8;
    --white2: #ffffff;
    --darkgrey: #6a6a6a;
    --lightgrey: #c6c6c6;
    --verticalPadding: 1vh;
    --horizontalPadding: 1vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--white1);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    body::-webkit-scrollbar {
        display: none;
    }

h1 {
    font-weight: 700;
    font-size: 3vw;
    font-family: Montserrat, sans-serif;
}

h4 {
    font-weight: 500;
    font-size: 2vw;
    font-family: Montserrat, sans-serif;
}

.panel {
    height: 100vh;
}

#leftPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--blue);
    width: 27vw;
}

#contentPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);

    background-color: var(--white1);
    width: 68vw;
}

#rightPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--red);
    width: 5vw;
}
sidebar {}
#rightPanel:hover{
    background-color:var(--redHover);
}

#tinput {
    border: 2px solid var(--black);
    box-sizing: border-box;
    border-radius: 25px;
}


#depricatedCenterPanel {
    min-height: 25vh;
    min-width: 35vw;
}

.verticalContent {
    display:block;
    align-content:center;
}

.leftPanelH1{
    color: var(--white2);
}

.leftPanelH4 {
    color: var(--white2);
}

.contentPanelH1 {
    color: var(--black);
}

.contentPanelH4 {
    color: var(--black);
}

.CenterContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
}

.CenterTop {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -30px);

    align-content: start;
}



label {
    width: 100%;
    position:relative;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white1);
    border-width: 0px;
}

.blogHeader {
    min-height: 15vh;
    min-width: 100%;
    
    align-content: end;
}

#countdown {
    
    text-align: right;
    font-weight: 700;
}

article {
    padding: 2em;
    position: relative;
}

#userAccountField {
    text-align: center;
    color: var(--red);
}

