@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --blue: #30A1ED;
    --red: #EA4235;
    --redHover: #d33b30;
    --black: #000000;
    --white1: #f8f8f8;
    --white2: #ffffff;
    --darkgrey: #6a6a6a;
    --lightgrey: #c6c6c6;
    --verticalPadding: 1vh;
    --horizontalPadding: 1vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--white1);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    body::-webkit-scrollbar {
        display: none;
    }

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

p {
    font-weight: 500;
    font-size: 18px;
}


#logo {
    color: var(--white2);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

#logo:hover {
    color: #eaeaea;
}

.panel {
    height: 100vh;
}

/*change to class*/
#leftPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--blue);
    width: 25vw;
    color: var(--white2);
}

#leftPanel * {
    color: var(--white2);
}

#contentPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--white1);
    width: 70vw;
}

#contentPanel * {
    color: var(--black);
    margin-left: 0;
}

#rightPanel {
    position: fixed;
    right: 0;
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--red);
    width: 5vw;
}

#rightPanel:hover{
    background-color:var(--redHover);
}

.text-box {
    height: 36px;
    width: 250px;
    border: 2px solid var(--lightgrey);
    box-sizing: border-box;
    border-radius: 5px;
}


#depricatedCenterPanel {
    min-height: 25vh;
    min-width: 35vw;
}

.verticalContent {
    display:block;
    align-content:center;
}

.leftPanelH1{
    color: var(--white2);
}

.leftPanelH4 {
    color: var(--white2);
}

.contentPanelH1 {
    color: var(--black);
}

.contentPanelH4 {
    color: var(--black);
}

.CenterContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
}

.CenterTop {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -30px);

    align-content: start;
}

form {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    background-color: var(--white1);
    border-width: 0px;
}

label {
    color: var(--darkgrey);
}

.blogHeader {
    min-height: 15vh;
    min-width: 100%;
    
    align-content: end;
}

#countdown {
    
    text-align: right;
    font-weight: 700;
}

article {
    padding: 2em;
    position: relative;
    vertical-align: top;
}

#userAccountField {
    text-align: center;
    color: var(--red);
}

