@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --blue: #30A1ED;
    --red: #EA4235;
    --redHover: #d33b30;
    --black: #000000;
    --white1: #f8f8f8;
    --white2: #ffffff;
    --darkgrey: #6a6a6a;
    --lightgrey: #c6c6c6;
    --verticalPadding: 1vh;
    --horizontalPadding: 1vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--white1);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    body::-webkit-scrollbar {
        display: none;
    }

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-weight: 700;
    font-size: 18px;
}

p {
    font-weight: 500;
    font-size: 14px;
}


#logo {
    color: var(--white2);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

#logo:hover {
    color: #eaeaea;
}

.panel {
    height: 100vh;
}

/*change to class*/
#leftPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--blue);
    width: 25vw;
    color: var(--white2);
}

#leftPanel * {
    color: var(--white2);
}

#contentPanel {
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--white1);
    width: 70vw;
}

#contentPanel * {
    color: var(--black);
    margin-left: 0;
}

#rightPanel {
    position: fixed;
    right: 0;
    padding-top: var(--verticalPadding);
    padding-bottom: var(--verticalPadding);
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);
    background-color: var(--red);
    width: 5vw;
}

#rightPanel:hover{
    background-color:var(--redHover);
}

.text-box {
    height: 36px;
    width: 250px;
    border: 2px solid var(--lightgrey);
    box-sizing: border-box;
    border-radius: 5px;
}


#depricatedCenterPanel {
    min-height: 25vh;
    min-width: 35vw;
}

.verticalContent {
    display:block;
    align-content:center;
}

.leftPanelH1{
    color: var(--white2);
}

.leftPanelH4 {
    color: var(--white2);
}

.contentPanelH1 {
    color: var(--black);
}

.contentPanelH4 {
    color: var(--black);
}

.CenterContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
}

.CenterTop {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -30px);

    align-content: start;
}

form {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    background-color: var(--white1);
    border-width: 0px;
}

label {
    color: var(--darkgrey);
}

.blogHeader {
    min-height: 15vh;
    min-width: 100%;
    
    align-content: end;
}

#countdown {
    
    text-align: right;
    font-weight: 700;
}

article {
    padding: 2em;
    position: relative;
    vertical-align: top;
}

#userAccountField {
    text-align: center;
    color: var(--red);
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    color: var(--white1);
    background-color: var(--white1);
    border: solid;
    border-width: 1px;
    border-style: groove;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.leftButton {
    color: var(--black); /*text color*/
    background-color: var(--white1);
}

.bigButton {
    color: var(--white1);
    background-color: var(--white1);
    border: solid;
    border-width: 1px;
    border-style: groove;
    font-size: 36px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.bigButton:hover {
    
    color: #fff;
    transform: translateY(-7px);
    text-decoration:none;
}

.BigR {
    transition: all .2s ease-in-out;
    position: absolute;
    top: 44%;
    left: 34%;
    font-size: 250px;
}

.BigRButton {
    position: absolute;
    top: 51%;
    left: 43%;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

    .BigRButton:hover {
        background-color: var(--red);
        box-shadow: 0px 15px 20px rgba(234, 66, 53, 0.4);
    }
        .BigRButton:hover + .BigR {
            transform: scale(1.1);
        }

.BigV {
    transition: all .2s ease-in-out;
    color: var(--blue);
    position: absolute;
    top: 18%;
    left: 66%;
    font-size: 250px;
}

.BigVButton {
    position: absolute;
    top: 39%;
    left: 60%;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
}
    .BigVButton:hover {
        background-color: var(--blue);
        box-shadow: 0px 15px 20px rgba(48, 161, 237, 0.4);
    }
        .BigVButton:hover + .BigV {
            transform: scale(1.1);
        }



.IndexCenterFields {
    position: relative;

}

#indexButton{/*Leave me. No delete --Slate*/}