#vote-ballot {
    grid-gap: 35px;
    flex-wrap: wrap;
}

.ballot-option {
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.25);
    text-align: center;
}

.ballot-option p {
    height: 50px;
    width: 200px;
    margin: 0;
    line-height: 50px;
}

.rep {
    border: 2px solid red;
}

.dem {
    border: 2px solid blue;
}

.con {
    border: 2px solid grey;
}

.green {
    border: 2px solid green;
}

.lib {
    border: 2px solid #E8EB55;
}