#vote-ballot {
}

#pres-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#gov-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ballot-option {
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.25);
    text-align: center;
    margin: auto;
}

.ballot-option p {
    height: 50px;
    width: 200px;
    margin: 0;
    line-height: 50px;
}