:root {
    --blue: #30A1ED;
    --red: #EA4235;
    --darkgrey: #6a6a6a;
    --yellow: #FFFA7B;
    --green: #49B025;
}

    #vote-ballot > div{
    display: flex;
    grid-gap: 35px;
    flex-wrap: wrap;
}

.ballot-option {
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.25);
    text-align: center;
}

.ballot-option p {
    height: 50px;
    width: 200px;
    margin: 0;
    line-height: 50px;
}

.ballot-option p:hover {
    cursor: pointer;
 }

.rep {
    border: 2px solid var(--red);
}

.dem {
    border: 2px solid var(--blue);
}

.con {
    border: 2px solid var(--darkgrey);
}

.green {
    border: 2px solid var(--green);
}

.lib {
    border: 2px solid var(--yellow);
}

.selected {
    transition: .3s;
}

.not-selected {
    opacity: .25;
    transition: .3s;
}